.button {
  color: white;
  display: flex;
  justify-content: center;
  justify-self: center;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
  padding: 5px 15px;
  color: black;

}